@import url(./styles/header.css);
@import url(./styles/mainscreen.css);
@import url(./styles/about.css);
@import url(./styles/projects.css);
@import url(./styles/sevices.css);
@import url(./styles/feedback.css);
@import url(./styles/gallery.css);
@import url(./styles/contacts.css);
@import url(./styles/footer.css);


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
}

h3 {
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
}

p,
a {
  letter-spacing: -0.03em;
}

.content-width {
  width: 1150px;
  margin: 0 auto;
}

.btn-fullwidth {
  display: block;
  width: 100%;
  height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  background-color: #ad1818;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 153px;
  color: #ffffff;
  transition: 0.5s;
}

@media (max-width: 1199px) {
  .main-screen {
    margin-top: 74px;
  }

  .content-width {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 0 17px;
  }

  .main-screen__title {
    max-width: 800px;
    font-size: 50px;
  }

  .main-screen__img {
    height: 400px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(/resources/main-img-tablet.png);
    background-size: cover;
    background-position: 50%;
  }

  .main-screen__description {
    bottom: 30px;
  }

  .about {
    margin-top: 120px;
  }

  .about__description {
    max-width: 690px;
    font-size: 35px;
    line-height: 48px;
  }

  .projects {
    margin-top: 120px;
  }

  .projects__title {
    margin-bottom: 30px;
  }

  .project__list {
    margin-bottom: 80px;
  }

  .project__list:last-child {
    margin-bottom: 0;
  }

  .project__img {
    object-fit: cover;
  }

  .project__name {
    margin-top: 15px;
    font-size: 25px;
    line-height: 36px;
  }

  .project__link-more {
    margin-top: 10px;
  }

  .projects__btn {
    margin-top: 22px;
  }

  .services {
    padding: 150px 0 120px 0;
  }

  .service__img {
    width: 100%;
    height: 315px;
    object-fit: cover;
  }

  .service__price {
    padding: 0 26px;
    font-size: 20px;
  }

  .service__name {
    margin-top: 15px;
    font-size: 25px;
    line-height: 35px;
  }

  .services-btn__link {
    margin-top: 80px;
  }

  .feedback__title {
    margin-top: 117px;
  }

  .feedback__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
    row-gap: 80px;
    column-gap: 0;
  }

  .feedback__item {
    width: calc(50% - 5px);
  }

  .feedback__item:last-child:nth-child(2n + 1) {
    width: 694px;
  }

  .feedback__name {
    font-size: 35px;
    line-height: 48px;
  }

  .feedback__description {
    margin-top: 25px;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  .main-screen {
    margin-top: 61px;
  }

  .content-width {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .main-screen__title {
    font-size: 30px;
    line-height: 32px;
    max-width: 335px;
  }

  .main-screen__img {
    margin-top: 25px;
    max-height: 304px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(/resources/main-img-phone.png);
    background-size: cover;
    background-position: 50%;
  }

  .main-screen__description {
    max-width: 312px;
    left: 15px;
    bottom: 15px;
    font-size: 16px;
    line-height: 22px;
  }

  .about {
    margin-top: 80px;
  }

  .about__title {
    font-size: 14px;
    line-height: 19px;
  }

  .about__description {
    margin-top: 20px;
    width: 100%;
    font-size: 22px;
    line-height: 30px;
  }

  .about__btn {
    width: 100%;
    height: 51px;
    font-size: 16px;
    line-height: 51px;
  }

  .projects {
    margin-top: 80px;
  }

  .projects__title {
    margin-bottom: 20px;
  }

  .project__list {
    margin-bottom: 49px;
  }

  .project__img {
    max-height: 250px;
    object-fit: cover;
  }

  .project__name {
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
  }

  .project__link-more {
    margin-top: 11px;
    font-size: 16px;
    line-height: 22px;
  }

  .projects__btn {
    margin-top: 60px;
    height: 100px;
    font-size: 22px;
    line-height: 100px;
  }

  .services {
    margin-top: 144px;
    padding: 80px 0;
  }

  .services__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .services__list {
    row-gap: 60px;
  }

  .service__block {
    width: 100%;
  }

  .service__img {
    width: 100%;
    height: 240px;
  }

  .service__price {
    top: 24px;
    left: 24px;
    padding: 0 24px;
    font-size: 14px;
    line-height: 30px;
  }

  .service__name {
    margin-top: 10px;
    font-size: 18px;
    line-height: 25px;
  }

  .services-btn__link {
    margin-top: 60px;
    height: 100px;
    font-size: 22px;
    line-height: 100px;
  }

  .feedback__title {
    margin-top: 80px;
  }

  .feedback__list {
    margin-top: 22px;
    row-gap: 80px;
  }

  .feedback__item {
    width: 100%;
  }

  .feedback__item:last-child:nth-child(2n + 1) {
    width: 100%;
  }

  .feedback__name {
    font-size: 25px;
    line-height: 35px;
  }

  .feedback__description {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
  }
}
