@import url(./styles/header.css);
@import url(./styles/mainscreen.css);
@import url(./styles/about.css);
@import url(./styles/projects.css);
@import url(./styles/sevices.css);
@import url(./styles/feedback.css);
@import url(./styles/gallery.css);
@import url(./styles/contacts.css);
@import url(./styles/footer.css);


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
}

h3 {
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
}

p,
a {
  letter-spacing: -0.03em;
}

.content-width {
  width: 1150px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .content-width {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 0 17px;
  }  
}

@media (max-width: 767px) {
  .content-width {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
  } 
}
