.contacts {
  padding: 150px 0;
}

.contact__items {
  display: flex;
  margin-top: 74px;
}
  

.contact__number,
.contact__email {
  position: relative;
  width: 472px;
}

.contact__email {
  margin-left: 102px;
}

.contact__email-link,
.contact__number-link {
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  text-decoration: none;
  transition: 0.05s;
}

.contact__number-link:hover,
.contact__email-link:hover {
  border-bottom: 2px solid #121212;
  opacity: 50%;
}

.contact__number:before,
.contact__email:before {
  content: "";
  position: absolute;
  bottom: 80px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact__number:before {
  background-image: url(../resources/contacts-imgs/contacts_img.png);
}

.contact__email:before {
  background-image: url(../resources/contacts-imgs/contact-mail.png);
}
