.gallery-section {
  margin-top: 150px;
}

.gallery {
  position: relative;
}

.gallery__title-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 60px;
}

.gallery__title {
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.gallery__slides {
  position: relative;
  width: 100%;
  height: 717px;
}

.gallery__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}

.gallery__slide_active {
  opacity: 1;
}

.gallery__img {
  width: 100%;
  height: 717px;
  object-fit: cover;
  object-position: bottom;
}

.gallery__slide-name-wrapper {
  position: absolute;
  top: 575px;
  width: 100%;
}

.gallery__slide-name {
  width: 445px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

.gallery__controls-wrapper {
  position: absolute;
  width: 100%;
  bottom: 162px;
  height: 40px;
}

.gallery__control-prev,
.gallery__control-next {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  transition: 0.05s;
}

.gallery__control-prev {
  margin-right: 14px;
  background-image: url(../resources/gallery-arrows/arrow-prev.png);
}

.gallery__control-next {
  background-image: url(../resources/gallery-arrows/arrow-next.png);
}

.gallery__control-prev:hover,
.gallery__control-next:hover {
  opacity: 1;
}

@media (max-width: 1199px) {
  .gallery-section {
    margin-top: 120px;
  }

  .gallery__title-wrapper {
    max-width: 220px;
    left: 50px;
    top: 80px;
  }

  .gallery__title {
    font-size: 20px;
    line-height: 27px;
  }

  .gallery__slides {
    height: 536px;
  }

  .gallery__img {
    height: 536px;
  }

  .gallery__slide-name-wrapper {
    margin-top: 5px;
    top: 388px;
    left: 50px;
    max-width: 360px;
  }

  .gallery__slide-name {
    max-width: 355px;
    font-size: 25px;
    line-height: 35px;
  }

  .gallery__controls-wrapper {
    max-width: 150px;
    left: 41px;
    bottom: 152px;
  }
}

@media (max-width: 767px) {
  .gallery-section {
    margin-top: 80px;
  }

  .gallery__title-wrapper {
    left: 0;
    top: 61px;
  }

  .gallery__title {
    font-size: 14px;
    line-height: 19px;
  }

  .gallery__slides {
    height: 408px;
  }

  .gallery__img {
    height: 408px;
  }

  .gallery__slide-name-wrapper {
    top: 296px;
    left: 0;
  }

  .gallery__slide-name {
    max-width: 300px;
    font-size: 19px;
    line-height: 25px;
  }

  .gallery__controls-wrapper {
    max-width: 100%;
    bottom: 45%;
    left: 0;
    height: 30px;
  }

  .gallery__controls {
    display: flex;
    justify-content: space-between;
  }

  .gallery__control-prev,
  .gallery__control-next {
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
  }
}
