.main-screen {
  margin-top: 70px;
}

.main-screen__title {
  max-width: 932px;
}

.main-screen__img {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 30px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../resources/Main-img.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.main-screen__description {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  font-size: 20px;
  line-height: 27.32px;
  color: #ffffff;
}
