.projects {
  margin-top: 150px;
}

.projects__title {
  margin-bottom: 30px;
}

.project__list {
  margin-bottom: 87px;
}

.project__img {
  width: 100%;
  height: 450px;
}

.project__name {
  margin-top: 15px;
}

.project__link-more {
  margin-top: 15px;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #ad1818;
  transition: 0.5s;
}

.project__link-more:hover {
  color: #121212;
}

.projects__btn {
  display: block;
  width: 100%;
  height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 153px;
  color: #ad1818;
  transition: 0.5s;
}

.projects__btn:hover {
  color: #ffffff;
  background-color: #ad1818;
}

@media (max-width: 1199px) {
  .projects {
    margin-top: 120px;
  }

  .projects__title {
    margin-bottom: 30px;
  }

  .project__list {
    margin-bottom: 80px;
  }

  .project__list:last-child {
    margin-bottom: 0;
  }

  .project__img {
    object-fit: cover;
  }

  .project__name {
    margin-top: 15px;
    font-size: 25px;
    line-height: 36px;
  }

  .project__link-more {
    margin-top: 10px;
  }

  .projects__btn {
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .projects {
    margin-top: 80px;
  }

  .projects__title {
    margin-bottom: 20px;
  }

  .project__list {
    margin-bottom: 49px;
  }

  .project__img {
    max-height: 250px;
    object-fit: cover;
  }

  .project__name {
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
  }

  .project__link-more {
    margin-top: 11px;
    font-size: 16px;
    line-height: 22px;
  }

  .projects__btn {
    margin-top: 60px;
    height: 100px;
    font-size: 22px;
    line-height: 100px;
  }
}
