body {
    font-family: 'Manrope', sans-serif;
    width: 1400px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
}

h2 {
    font-size: 45px;
    line-height: 62px;
    letter-spacing: -0.03em;
}

h3 {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}

h4 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
}

p {
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
}

.content {
    width: 1150px;
    margin: 0 auto;
}

.firstblock {
    margin-top: 125px;
}

.main-img {
    background-image: url("../Resources/Main-img.png");
    background-repeat: no-repeat;
    width: 1150px;
    height: 500px;
    margin-top: 30px;    
}

.main-text {
    padding-left: 40px;
    padding-top: 379px;
    padding-bottom: 40px;
    width: 40%;
    color: #ffffff;
}

.about-h4 {
    margin-top: 150px;
    color: #121212;
}

.about-text {
    color: #121212;
    margin-top: 30px;
    margin-left: 3px;
    max-width: 1048px;
}

.about-btn {
    display: block;
    width: 255px;
    height: 67px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px, 40px, 20px, 40px;
    column-gap: 10px;
    background-color: #ad1818;
    text-decoration: none;
    text-align: center;
    line-height: 67px;
    color: #ffffff;
}

.about-btn:hover {
    color: #ffffff;
    background-color: #ad0000;
}

.projects {
    margin-top: 150px;
}

.pjfirst {
    margin-top: 30px;
}

.projects-img {
    width: 1150px;
    height: 450px;
}

.projects-h3 {
    margin-top: 15px; 
}

.projects-p {
    margin-top: 15px;
    color: #ad1818;
    width: 150px;
    height: 30px;
}

.projects-2, .projects-3 {
    margin-top: 90px;
}


.projects-p:hover {
    color: #121212;
}




