html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.03em;
  width: 100%;
  background-color: #f5f5f5;
}

.width_mockup {
  width: 1400px;
  margin: 0 auto;
  background-color: #ffffff;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
}

h3 {
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
}

p,
a {
  letter-spacing: -0.03em;
}

.content {
  width: 1150px;
  margin: 0 auto;
}

.nav-section {
  padding-top: 33px;
  height: 25px;
}

.logo_link {
  display: inline-block;
  width: 127px;
  height: 22px;
}

.logo_img {
  display: block;
}

.nav {
  display: inline;
  float: right;
  vertical-align: top;
}

.nav_link {
  margin-right: 57px;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #121212;
  text-decoration: none;
}

.nav_link:hover,
.nav_link_active {
  border-bottom: 1px solid;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.nav_link:nth-last-child(1) {
  margin-right: 0;
}

.firstblock {
  margin-top: 70px;
}

.main-img {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../Resources/Main-img.png);
  background-repeat: no-repeat;
  width: 1150px;
  height: 500px;
  margin-top: 30px;
}

.main-text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  font-size: 20px;
  line-height: 27.32px;
  color: #ffffff;
}

.about-h2 {
  margin-top: 150px;
  color: #121212;
}

.about-text {
  margin-top: 30px;
  margin-left: 3px;
  max-width: 1048px;
  font-size: 45px;
  line-height: 61px;
  color: #121212;
}

.about-btn {
  display: block;
  width: 255px;
  height: 67px;
  margin-top: 30px;
  border-radius: 5px;
  column-gap: 10px;
  background-color: #ad1818;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 67px;
  color: #ffffff;
}

.about-btn:hover {
  color: #ffffff;
  background-color: #ad0000;
}

.projects {
  margin-top: 150px;
}

.projects_title {
  margin-bottom: 30px;
}

.projects_list {
  margin-bottom: 87px;
}

.projects-img {
  width: 1150px;
  height: 450px;
}

.projects-h3 {
  margin-top: 15px;
}

.projects-link-more {
  margin-top: 15px;
  width: 150px;
  height: 27px;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #ad1818;
}

.projects-link-more:hover {
  color: #121212;
}

.projects-btn {
  display: block;
  width: 100%;
  height: 153px;
  margin-top: 89px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 153px;
  color: #ad1818;
}

.projects-btn:hover {
  color: #ffffff;
  background-color: #ad1818;
}

.services {
  margin-top: 150px;
  background-color: #121212;
}

.services-title {
  width: 66px;
  height: 25px;
  padding: 150px 0 0 2px;
  margin-bottom: 34px;
  color: #ffffff;
}

.services-block {
  margin-bottom: 58px;
}

.services-block:nth-last-child(1) {
  margin: 0;
  padding-bottom: 150px;
}

.services-img {
  margin-bottom: 14px;
  width: 1150px;
  height: 270px;
}

.services-text {
  color: #ffffff;
}

.block_two_rooms_apartment {
  position: relative;
  height: 717px;
  background-image: url(../Resources/Project_2rooms_apartment.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.two_rooms_apartment {
  position: absolute;
  left: 125px;
  bottom: 60px;
  width: 443px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

.contacts {
  padding: 176px 0 157px 0;
}

.contacts_title {
  position: relative;
  margin-top: 12px;
  margin-left: -1px;
}

.contacts_title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 25px;
  margin: 0 0 12px -5px;
  width: 24px;
  height: 24px;
  background-image: url(../Resources/contacts_img.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts_number {
  margin-top: 32px;
}

.number_link {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts_email {
  margin-top: 30px;
  width: 412px;
}

.email_link {
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  text-decoration: none;
  border-bottom: 2px solid #121212;
  opacity: 50%;
}

.footer {
  padding: 60px 0 30px 0;
  background-color: #121212;
}

.nav_footer {
  margin: 0 auto;
  width: 470px;
  height: 25px;
}

.nav_link_footer {
  display: inline-block;
  margin-right: 55px;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.nav_link_footer:nth-last-child(1) {
  margin-right: 0;
}

.nav_link_footer:hover,
.nav_link_footer_active {
  color: #ffffff;
  opacity: 0.5;
}

.text_footer {
  margin-top: 87px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  opacity: 50%;
}
